<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>CG 影视动画基地</title>
</head>
<body>
	<header>
		<img src="/img/QQ.png" width="150" height="150" alt="请打开手机QQ扫描二维码">
	</header>
	{{{body}}}
</body>
</html>
