<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>CG 影视动画基地</title>
	{{{_sections.head}}}
	{{#if showTests}}
		<link rel="stylesheet" href="/vendor/mocha.css">
	{{/if}}
	<script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
</head>
<body>
	<header>
		<img src="/img/QQ.png" width="150" height="150" alt="请打开手机QQ扫描二维码">
	</header>
	{{{body}}}
	{{{_sections.jquery}}}
	{{#if showTests}}
		<div id="mocha"></div>
		<script src="/vendor/mocha.js"></script>
		<script src="/vendor/chai.js"></script>
		<script>
			mocha.ui('tdd');
			var assert = chai.assert;
		</script>
		<script src="/qa/tests-global.js"></script>
		{{#if pageTestScript}}
			<script src="{{pageTestScript}}"></script>
		{{/if}}
		<script>
			mocha.run();
		</script>
	{{/if}}
</body>
</html>
