<h1>欢迎进入</h1>
<ul>
	<li><a href="/about">自定义模块示例</a></li>
	<li><a href="/jquerytest">段落测试示例</a></li>
	<li><a href="/client-template">客户端模板示例</a></li>
	<li><a href="/workroom">跨页测试示例</a></li>
	<li><a href="/newsletter">表单处理示例</a></li>
	<li><a href="/upload-cover">文件上传示例</a></li>
</ul>
{{> fancy}}
