<h1>梦工厂家族页面</h1>
<form>
	<input type="hidden" name="referrer">
	<div>
		<label>
			名字：<input type="text" id="fieldName" name="name">
		</label>
	</div>
	<div>
		<label>
			家族大小：<input type="text" name="groupSize">
		</label>
	</div>
	<div>
		<label>
			邮箱：<input type="email" name="email">
		</label>
	</div>
</form>
<script>
	$(function() {
		$('input[name="referrer"]').val(document.referrer);
	});
</script>
